.color-nav{
  background-color: #282a36;
}


:root{
  --cor-roxo: #383a59;
  --cor-lilas: #a15aba;
  --cor-branca: #fff;
}

#root{
  background-color: var(--cor-roxo);
  color: var(--cor-branca);
  font-weight: 600;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.app{
  text-align: center;
  
}
.container{
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}
.direita{
  font-size: 1.5rem;
}
.flex-column{
  flex-direction: column;
  justify-content: center;
}
.flex{
  display: flex;
}
.mb-2{
  margin-bottom: 2.5rem;
}

.mt-2{
  margin-top: 2.5rem;
}

.px-2{
  padding: 0 2rem;
}
.align-items-center{
  align-items: center!important;
}
.text-center{
  text-align: center;
}
.text{
  text-align: center;
  list-style: none;
  font-size:18px;
  
}
.subtitle{
  color: rgb(189, 147, 249);
  font-weight: 700;
  margin: 1rem 0;
  font-size: 1.15rem;
}
.image{
  max-width: 20rem!important;
  align-items: center;
  margin-bottom: 0.5rem;
}
.conteudo{
  line-height: 1.5rem;
  text-align: justify;
}
.full-width{
  width: 100%;
}
.txt-p{
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: lighter;
}
.bold{
  font-weight: bold;
}
@media only screen and (max-width: 600px){
.image {
  max-width: 15rem!important;
}}
@media  screen and  (min-width: 992px){
  .flex-row {
      flex-direction:row;
  }
  .text{
      text-align: left;
  }
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--cor-lilas);
}

@media (min-width: 1400px){
.container{
  max-width: 1220px;
  }
}

/* -----------------Tools---------------------- */

.tecnologias p{
  font-size: 1em;
  font-weight: 600;
}

.tecnologias{
  padding: 0 45px;
  display: inline-block;
}

/* -----------------------contact---------------------- */
#contact{
  padding: 80px 0;
}

#contact a{
  padding: 0 40px;
}

/* -------end-laptop----------- */
#end{
  padding: 10px;
  margin: 0px;
  display: inline;
  align-items: center;
}

